* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* font-size: 16px; */
}

span {
  color: black;
  /* background-color: white; */
}
#navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}
#header {
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  color: white;
  font-size: 16px;
  height: 89px;
  width: 100%;
  z-index: 10;
  display: flex;
  align-items: center;
  /* display: flex; */
  justify-content: space-between;
  transition: all 0s ease 0s;
  box-shadow: rgb(0, 0, 0, 0.08) 0 4px 12px;
  /* display: block; */
}

#header .logo {
  height: 80px;
  width: 63px;
  margin: 0 50px 0 50px;
  padding: 20px;
}

#header .logo img {
  /* justify-content: center; */
  height: 46px;
  width: 60px;

  /* width: 100%; */
}

#header .nav {
  display: flex;

  margin-bottom: 0;
}
.nav .names {
  margin-left: 23px;
}
#header .nav a {
  /* justify-content: space-between; */
  /* margin-left: 25px; */
  text-decoration: none;
  color: #484849;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 700;
  word-spacing: 2px;
  padding: 0 17px 0px 17px;
  /* height: 100%; */
}

#header .search {
  display: flex;
  width: 31%;
  text-align: center;
  align-items: center;
  margin-left: 8%;
}

#header .search input {
  /* display: flex; */
  height: 40px;
  width: 95%;
  color: #f5f5f6;
  background-color: #f5f5f6;
  padding: 8px 10px 10px 10px;
  border: 0;
}

#header .search a {
  background-color: #f5f5f6;
  width: 40px;
  height: 40px;
  align-items: center;

  padding: 8px 10px 5px 10px;
  justify-content: center;
  text-decoration: none;
  color: rgb(128, 125, 125);
  text-align: center;
}

#header .right {
  height: 55px;
  width: 18%;
  /* justify-content: space-between;
     */
  display: flex;
  margin: 20px 0px 10px 30px;
}

#header .right > div {
  margin-left: 23px;
}

#title {
  /* width: 100%; */
  position: relative;
  /* top: 120px; */
  margin: 100px 100px 0px 100px;
  /* background-color: red; */
  padding: 20px;
  font-size: 20px;
}
#wishItems {
  width: 100%;
  height: fit-content;
  position: relative;
  /* top: 90px; */
  margin: 0px 40px 30px 20px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
}

.eachI {
  position: relative;
  /* height: 200px; */
  width: 240px;
  /* height: 260px; */
  display: block;
  margin-left: 80px;
  margin-bottom: 40px;
  /* background-color: aqua; */
}

.eachI .imgd {
  /* position: relative; */
  width: 100%;
}
.eachI .imgd img {
  /* position: absolute; */
  width: 100%;
  /* z-index: 0; */
  /* top: 0; */
}

.closeI {
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  z-index: 5;
  display: block;
  height: 24px;
  width: 24px;
  top: 10px;
  right: 10px;
  background-color: #e1e2e3;
  border-radius: 50%;
}
.closeI span {
  color: #696c78;
}

.eachI .desd {
  position: relative;
  text-align: center;
  padding: 4%;
  height: 80px;
  /* background: #f28090; */
  border-left: 1px solid rgb(230, 229, 229);
  border-right: 1px solid rgb(230, 229, 229);
  border-bottom: 1px solid rgb(230, 229, 229);
}
.eachI .desd > p {
  font-size: 16px;
  overflow: hidden;
  width: 200px;
  height: 20px;
  margin-bottom: 8px;
  /* padding: 5px; */
}
.eachI .desd .price {
  font-size: 16px;
  color: black;
  font-weight: 600px;
}

.eachI .bagd {
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 10px;
  border: 1px solid rgb(230, 229, 229);
  color: #fa4c63;
}
.eachI .bagd a {
  font-weight: 600;
}
#dprofile {
  visibility: hidden;
  position: absolute;
  top: 82px;
  width: 300px;
  height: 500px;
  right: 150px;
  background-color: white;
  color: black;
  justify-content: left;
  text-align: left;
  padding: 20px;
}
#dprofile ul {
  margin-bottom: 10px;
  border-bottom: 1px solid #e7e7e7;
}
#dprofile li {
  text-decoration: none;
  list-style: none;
  padding: 4px 0 4px 0;
}
.talign {
  text-align: center;
  align-items: center;
  justify-content: center;
}

footer {
  position: relative;
  background-color: #fafbfc;
  margin-top: 80px;
  padding: 70px 2px 2px 10px;
}

footer .info {
  /* justify-content: space-around; */
  display: flex;
  width: 100%;
  justify-content: center;
}

footer .info > div {
  width: fit-content;
  margin-left: 6%;
}

footer .info > div > a {
  display: block;
  margin: 4px;
  text-decoration: none;
  color: rgb(85, 83, 83);
}

footer .info > div > p a {
  color: black;
  text-decoration: none;
}

footer .info > div > p {
  color: black;
  font-weight: 600;
  margin-bottom: 15px;
}

footer .info > div .stores {
  width: 134px;
}

footer .info .keepInTouch {
  padding: 5px;
  display: flex;
  color: black;
  font-weight: 600;
}

footer .info .keepInTouch a {
  /* text-decoration: none;
       */

  width: 20px;
}

.flex {
  display: flex;
}

.flex div {
  color: rgb(85, 83, 83);
  padding: 5px;
  margin: 2px;
}

.ddown {
  visibility: hidden;
  z-index: 2;
  position: absolute;
  width: 1200px;
  height: 500px;
  padding: 20px;

  background-color: white;
  top: 80px;
  left: 180px;
  display: flex;
  /* transition: cubic-bezier(0.455, 0.03, 0.515, 0.955); */
}
.ddown li {
  list-style: none;
  padding: 1.5px;
  font-weight: 400;
}
.ddown > div > ul > :nth-child(1) {
  font-size: 16px;
  font-weight: 700;
  color: #f28090;
  /* background-color: black; */
  padding: 12px 0px 10px 0px;
  /* margin-bottom: 15px; */
}
.ddown > div {
  width: 200px;
  margin-left: 20px;
}

.ddown .nextul {
  border-top: solid 2px rgb(223, 235, 223);
  margin-top: 10px;
  /* background-color: #484849; */
}
